force-app/main/default/flows/SymphonyBillingPref.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSymphonyCase</name>
        <label>CreateSymphonyCase</label>
        <locationX>735</locationX>
        <locationY>50</locationY>
        <actionName>SymphonyCaseUtil</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>symphonyQuoteRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>SymphonyBillingPref {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SymphonyBillingPref</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>316</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>symphonyBillingPrefRecord.Sym_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>symphonyAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetBillingPref</name>
        <label>GetBillingPref</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>symphonyBillingPrefId</elementReference>
            </value>
        </filters>
        <object>Sym_Billing_Admin_Preferences__c</object>
        <outputReference>symphonyBillingPrefRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sym_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>453</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>symphonyAccountRecord.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>symphonyOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>593</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateSymphonyCase</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>symphonyOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>symphonyQuoteRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>GetBillingPref</startElementReference>
    <status>Active</status>
    <variables>
        <name>symphonyAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>symphonyBillingPrefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>symphonyBillingPrefRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sym_Billing_Admin_Preferences__c</objectType>
    </variables>
    <variables>
        <name>symphonyOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>symphonyQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
